*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    margin-left:10%;
    margin-right:10%;
    box-sizing: border-box;
}

header{
    background-color: #e579e6;
    margin-top: 30px;
    height: 150px;
}

.first-block{
    background-color:#e1d67a;
    margin-top: 30px;
    height: 500px;
}

.second-block{
    background-color: #0185ff;
    margin-top: 30px;
    height: 700px;
}

.top{
    background-color: #abcfe7;
    height: 100px;
    margin-bottom: 20px;
}

.section-left{
    background-color: #abcfe7;
    min-height: 560px;
    width: 20%;
    float: left;
}

.section-right{
    background-color: #abcfe7;
    min-height: 560px;
    width: 20%;
    float: right;
}

.section-centre{
    background-color: #abcfe7;
    min-height: 560px;
    margin: 0% 22%; 
}

footer{
    background-color: #8502fa;
    margin-top: 10px;
    height: 70px;
    margin-bottom: 30px;
}
